/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
}

/* Custom Global Styles */
h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
}

button {
  font-family: 'Poppins', sans-serif;
}
